body { 
    background-color: #000000; 
    font-family: Arial, sans-serif;  
    color: #191970; 
}

.kartu-profil {
      width:2000px;
      margin: 20px auto; /* 50px jarak atas/bawah, auto menengahkan kiri/kanan */
      padding: 20px;
      background-color: white;
      border-radius: 15px; /* memnuat sudut menjadi melengkung */
      box-shadow: 0 4px 8px rgba (0,0,0,0.1); /*efek bayangan*/
      text-align: center; /* menengahkan semua teks di kartu */
    }

.kartu-profil img {
      width: 150px;
      border-radius: 50%; /* trik untuk membuat gambar
}
